.vscode/ 
*.out
*.o
*.py
*.png
*.run 
*test*
*.log
*.exe
*.inc
*.hh
*.cc
*.txt
*.glade~
metodos_numericos/graficador/function_wrapper/
metodos_numericos/busqueda_de_raiz/function_wrapper/
metodos_numericos/metodos_iterativos/function_wrapper/
metodos_numericos/graficador/fparser/makefile
macros.hpp
!metodos_numericos/macros.hpp
matrix_like.tcc
!metodos_numericos/matrix_like/matrix_like.tcc
metodos_numericos/funciones_matriz_2/matrix_like/makefile
matriz_banda.cpp
matriz_banda.hpp
!metodos_numericos/matrix_like/matriz_banda.cpp
!metodos_numericos/matrix_like/matriz_banda.hpp
matrix_exception.hpp
matrix_exception.cpp
!metodos_numericos/matrix_like/matrix_exception.hpp
!metodos_numericos/matrix_like/matrix_exception.cpp
metodos_numericos/funciones_matriz_2/search_min_max.cpp
metodos_numericos/funciones_matriz_2/biseccion.cpp
metodos_numericos/funciones_matriz_2/function_wrapper/
matrix_iterator.tcc
!metodos_numericos/matrix_like/matrix_iterator.tcc
metodos_numericos/metodos_iterativos/matrix_like/makefile
programacion/imprimir.c
funcion_matriz.*
!metodos_numericos/funciones_matriz_2/funcion_matriz.*
factorizacion.*
!metodos_numericos/funciones_matriz_2/factorizacion.*
real_matrix.*
!metodos_numericos/matrix_like/real_matrix.*
real_vector.*
!metodos_numericos/matrix_like/real_vector.*
*.o
real_vector_iterator.cpp
!metodos_numericos/matrix_like/real_vector_iterator.cpp
metodos_numericos/eigen_vectores/matrix_like/makefile
*.mtx
*.vec
programacion/Tarea4/quicksort.c
*.pgm
programacion/Tarea4/pgm1.c
programacion/Tarea5/quicksort.c
programacion/Tarea5/pgm1.c
openmp.cpp
programacion/codigo_de_huffman.c
metodos_numericos/matrix_like/print.cpp
metodos_numericos/interpolacion/matrix_like/print.cpp
metodos_numericos/interpolacion/matrix_like/makefile
metodos_numericos/interpolacion/function_wrapper