.vscode/ 
*.out
*.o
*.py
*.run 
*test*
*.log
*.png
!Analisis_datos/**/*.png
*.exe
*.o
*.mtx
*.vec
*.pgm
*.pyc
*.compresed
*.csv
*.inc
*.hh
*.cc
*.txt
*.glade~
metodos_numericos/graficador/function_wrapper/
metodos_numericos/busqueda_de_raiz/function_wrapper/
metodos_numericos/metodos_iterativos/function_wrapper/
metodos_numericos/graficador/fparser/makefile
macros.hpp
!metodos_numericos/macros.hpp
matrix_like.tcc
metodos_numericos/funciones_matriz_2/matrix_like/makefile
metodos_numericos/funciones_matriz_2/search_min_max.cpp
metodos_numericos/funciones_matriz_2/biseccion.cpp
metodos_numericos/funciones_matriz_2/function_wrapper/
metodos_numericos/metodos_iterativos/matrix_like/makefile
programacion/imprimir.c
funcion_matriz.*
!metodos_numericos/matrix_like/funcion_matriz.*
factorizacion.*
!metodos_numericos/matrix_like/factorizacion.*
matrix.*
!metodos_numericos/matrix_like/matrix.*
vector.*
!metodos_numericos/matrix_like/vector.*
vector_iterator.cpp
!metodos_numericos/matrix_like/vector_iterator.cpp
metodos_numericos/eigen_vectores/matrix_like/makefile
programacion/Tarea4/quicksort.c
programacion/Tarea4/pgm1.c
programacion/Tarea5/quicksort.c
programacion/Tarea5/pgm1.c
openmp.cpp
programacion/codigo_de_huffman.c
print.cpp
metodos_numericos/interpolacion/matrix_like/makefile
metodos_numericos/interpolacion/function_wrapper
programacion/Tarea7/tree.c
programacion/Tarea7/tree.h
programacion/Tarea7/queue.c
programacion/Tarea7/queue.h
programacion/Tarea7/pgm1.c
rust/

Examen01_Luis_Espino/
*.ipynb
Analisis_datos/tarea7.nb.html
Analisis_datos/foto.jpg
