.vscode/ 
*.o
*.run 
*test*
*.log
*.exe
*.inc
*.hh
*.cc
*.glade~
metodos_numericos/graficador/function_wrapper/
metodos_numericos/funciones_matriz_2/funcion_matriz.cpp
metodos_numericos/funciones_matriz_2/funcion_matriz.hpp
metodos_numericos/graficador/fparser/makefile